section#about
  a.opener 
    span.wording A propos de moi
  .content
    .third.time
      h2.circle 
        |M
        i.fa.fa-clock-o
        |n 
        .word temps
      .tiers
        .perso 
          |1/3 
          .title perso
        .work 
          |1/3 
          .title boulot
        .dodo 
          |1/3 
          .title dodo
    .third.qualities
      h2 
        |Mes 
        .word qualités
      ul
        li Sérieux
        li Travailleur
        li Créatif
        li Motivé
        li Sociable
        li Appliqué
    .third.hobbies
      h2 
        |Mes 
        .word loisirs
      ul
        li.cine Cinéma
        li.read Lecture
        li.geek Geeker
        li.sport Sport
        li.cook Cuisine
        li.chess Echecs 
