section#contact
  a.opener(href="#contact") 
    span.wording Contact
  .content             
    form#form.half
      input(type='text',placeholder='Votre nom...')
      input(type='text',placeholder='Votre email...')
      textarea(placeholder='Votre message...')
      input(type='submit',value='Envoyer')
    #coordonnees.half
      .me 
          .name Benoît GUILLAUME
          .job Développeur web front-end
      .location
          img(src="img/paris.png")
          .place 
            .city 75019 PARIS 
            .country FRANCE
      .contact
        
          mixin line(href,icon,wording)
            .line
              a(href=href)
                i.fa.fa-2(class='fa-'+icon)
                span.wording= wording

          +line('mailto:bnt.gllm@gmail.com','envelope','bnt.gllm@gmail.com')
          +line('#','mobile fa-2','06 27 80 76 48')
          +line('cv.pdf','file-pdf-o','Mon C.V.')

