section#education
  a.opener 
    span.wording Cursus étudiant
  .content
    .description
      img.me
      //- .block.global
      //-   h3 CURSUS
      //-   p 
      .block.ecv
        h3 PREPA ARTISTIQUE
        p Arts plastiques : dessin, croquis, nu, peinture, nature morte
        p Arts appliqués : composition graphique, conception, typographie, couleurs
        p Histoire de l'art
      .block.quimper
        h3 MISE à NIVEAU en ARTS APPLIQUéS
        p Etude de l'histoire de l'art, arts plastiques et appliqués
        h3 BTS COMMUNICATION VISUELLE option G.E.P. (Graphisme, Edition, Publicité)
        p Conception graphique, design,  communication
        p Apprentissage des logiciels de P.A.O.
      .block.fcil
        h3 FCIL ASSISTANT PRINT ET WEB DESIGNER
        p Approfondissement pratique et technique des logiciels de P.A.O.
        p Initiation à l'intégration HTML-CSS
        p Cours d'animation avec Flash et Action Script 2
        p Stages effectués le long de l'année dans trois agences de communication
      .block.lpcm
        h3 LICENCE PRO CREATION MULTIMEDIA
        p Apprentissage poussé de l'intégration HTML-CSS
        p Initiation à la programmation web,  cours de PHP
        p Cours de web-design, UX, UI, ergonomie, communication web
        p Stage de six mois 
      .block.estei
        h3 MASTER DEVELOPPEMENT WEB
        p Apprentissage poussé du développement web : PHP, Symfony2, Javascript
        p Projets annuels pour valider l'année
        p Stages en fin de chaque année pour valider les acquis en milieu professionnel
    img.timeline(src='img/timeline_studies.png')
    .formation.ecv
      .when 2005-2006
      .what Prépa artisitique
      .where ECV Aquitaine
      .city BORDEAUX
      a.more +
    .formation.quimper
      .when 2005-2006
      .what Mise à Niveau Arts Appliqués
      .when 2006-2008
      .what BTS Communication Visuelle option Print (GEP)
      .where Lycée Le Paraclet
      .city QUIMPER
      a.more +
    .formation.fcil
      .when 2008-2009
      .what FCIL Assistant Print et Web Designer
      .where Lycée La Joliverie
      .city NANTES
      a.more +
    .formation.lpcm
      .when 2009-2010
      .what Licence Pro Création Multimédia
      .where Université
      .city LA ROCHELLE
      a.more +
    .formation.estei
      .when 2010-2012
      .what Master Développement Web
      .where ESTEI
      .city BORDEAUX
      a.more +