header.landscape
  nav.menu 
    each icon, link in {'home':'home','about':'user','skills':'cog','work':'briefcase','education':'graduation-cap','contact':'envelope'}
      a(class=link)
        i.fa.fa-2(class='fa-'+icon)

  span#welcome 
    |WELC
    a(href="/my") 
      i.fa.fa-refresh 
    |ME
  nav.socials
    each href, icon in {'linkedin':'https://fr.linkedin.com/pub/benoit-guillaume/83/2/a55','twitter':'https://twitter.com/BGllm?lang=fr','google-plus':'#'}
      a(href=href)
        i.fa.fa-2(class='fa-'+icon,target="_blank")
    a.toggleNavs
      i.fa.fa-bars