section#home
  a.opener(href="#home")
    span.wording Présentation
  .content
    p.myNameIs Je m'appelle 
    h1 Benoît 
      .lastName GUILLAUME,
      .job développeur web front-end
    p.intro Ce site présente mon parcours et mon activité
    .pictos
      each href,icon in {'envelope':'mailto:bnt.gllm@gmail.com','mobile fa-2':'#','file-pdf-o':'cv.pdf'}
        a(href=href,target="_blank")
          i.fa(class='fa-'+icon) 