section#work
  a.opener 
    span.wording Expérience pro
  .content
    .logo.logo-adv
      a(href="https://www.adveris.fr/",target="_blank")
        img#logo-adv(src="img/logo-adv.png", alt="Adveris")
    .logo.logo-nm
      a(href="http://www.newmanity.com/",target="_blank")
        img#logo-nm(src="img/logo-nm.png")
    img.timeline(src="img/timeline_pro.png", alt="Newmanity")
    .company.adveris
      .duration
        .periode
          span 11/03
          span.gt &gt;
          span 10/07
        .year 
          span.century 20
          span.current 13
      .more +
    .company.nm
      .duration
        .start 
          .firstday 16/09
          .year 
            span.century 20
            span.current 13
        span.gt &gt;
        span.now NOW
      .more +
    .block.adveris
      a.close X
      h2 Intégration et développement de plusieurs sites clients avec le template de l'agence :
      p Réalisation des fonctionnalités du front
      p Mise en place du backoffice et liaison avec la base de données
    .block.nm
      a.close X
      h2 Maintenance du réseau social citoyen newmanity.com :
      p Développement de ses nouvelles fonctionnalités coté front-office.
      p Intégration et envoid e newsletters, campagnes emailing, carte de voeux, landing pages intégrées au site ou non.
      p Participation à sa refonte sour Symfony2