#education{
	.block{
		h3{
			font-family:'Aller Display';
			margin-bottom: 10px;
			&:not(:first){
				margin-top: 15px;
			}
		}
		p{
			font-family:'Aller Light';
			padding-left: 10px;
			&:before{
				content:'>';
				font-family:'Aller Display';
				font-weight: bold;
				position: relative;
				left:-5px;
			}
		}
		&.global{
			background: yellow;
		}
		&.ecv{
			background: @ecv;
		}
		&.quimper{
			background: @quimper;
		}
		&.fcil{
			background: @fcil;
		}
		&.lpcm{
			background: @lpcm;
		}
		&.estei{
			background: @estei;
		}
	}
	img.timeline{
		&.landscape{
			width: 100%;
			padding-bottom: 25px;
		}
		&.portrait{ display: none; }
	}
	.formation{
		text-align: center;
		display: inline-block;
		float: left;
		max-width: 250px;
		height: 200px;
		padding: 0 12px;
		.when{
			font-family: 'Aller Display';
		}
		.where{
			font-family: "American Type Bold";
		}
		.city{
			font-family: 'Vin\'s Dojo';
		}
		&.ecv{
			.when{
				color:@ecv;
			}
			a.more{
				background:@ecv;
			}
		}
		&.quimper{
			.when{
				color:@quimper;
			}
			a.more{
				background:@quimper;
			}
		}
		&.fcil{
			.when{
				color:@fcil;
			}
			a.more{
				background:@fcil;
			}
		}
		&.lpcm{
			.when{
				color:@lpcm;
			}
			a.more{
				background:@lpcm;
			}
		}
		&.estei{
			.when{
				color:@estei;
			}
			a.more{
				background:@estei;
			}
		}				
	}
	.portrait & {
		img.timeline{
			&.landscape{ display: none; }
			&.portrait{
				display: block;
				float: left;
			}	
		}
		.formations{
			display: flex;
			flex-direction: column-reverse;
		}
	}
}