#work{
	.logo-adv{
		width: 22%;
		display: inline-block;
		a{
		    display: block;
		    margin: 0 auto;
		    width: 132px;					
		}
	}
	.logo-nm{
		width: 55%;
		display: inline-block;
		a{
		    display: block;
		    margin: 0 auto;
		    width: 235px;					
		}
	}
	img.timeline{
		width: 100%;
	}
	.duration{
		font-family:'Aller Display';
		margin-bottom: 20px;
		.gt{
			margin: 0 5px;
		}
		.year{
			.century,
			.current,
			.now{
				font-size: 40px;
				line-height: 25px;
			}
			.century{
				color:@darkmediumgrey;
			}
		}
	}
	.company{
		display: inline-block;
		text-align: center;
		&.adveris{
			width: 22%;
			.gt{ color:@adveris; }
			.periode,
			.year{
				display: block;
			}
			.periode{
				font-size: 22px;
			}
			.more{
				background: @adveris;
			}
		}
		&.nm{
			width: 55%;
			.duration{
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.start{
				text-align: right;
				display: inline-block;
				.firstday{
					font-size: 22px;
				}
			}
			.gt{ 
				color:@nm;
				font-size: 40px;
				height: 50px;
			}
			.now{
				font-size: 40px;
				height: 45px;
			}
			.more{
				background: @nm;
			}
		}
	}
	.block{
		width: 75%;
		&.adveris{
			background: url('img/bulle_adv.png') no-repeat bottom right, @adveris;
		}
		&.nm{
			background: url('img/bulle_nm.png') no-repeat bottom right, @nm;
		}
	}
}