
@import "less/fonts.less";
@import "less/layout.less";
@import "less/variables.less";

@import "less/footer.less";
@import "less/header.less";

@import "less/about.less";
@import "less/contact.less";
@import "less/education.less";
@import "less/home.less";
@import "less/skills.less";
@import "less/work.less";


// Mixins
.size(@width, @height:@width) {
	width: @width;
	height: @height;
}

// Rotation non-animée + translation
	.transform(@angle,@translateX:0,@translateY:0) {
		-webkit-transform: rotate(@angle) translate(@translateX,@translateY);
		-moz-transform: rotate(@angle) translate(@translateX,@translateY);
		-ms-transform: rotate(@angle) translate(@translateX,@translateY);
		-o-transform: rotate(@angle) translate(@translateX,@translateY);
	}

// Gradient circulaire
	.bgRadialGradient(@color1,@color2) {
		background-image: -moz-radial-gradient(@color1,@color2);
		background-image: -ms-radial-gradient(@color1,@color2);
		background-image: -o-radial-gradient(@color1,@color2);
		background-image: -webkit-radial-gradient(@color1,@color2);
	}

// Rotation animation
@-webkit-keyframes rotation {
    0%, 40%   {-webkit-transform: rotate(0deg);}
    60%, 100% {-webkit-transform: rotate(360deg);}
}
@keyframes rotation {
    0%, 40% { transform: rotate(0deg); }
    60%, 100% { transform: rotate(360deg); }
}

// Animation gradient
.bgColorTransition{
    -webkit-transition: background-color ease-out 500ms;
    -moz-transition: background-color ease-out 500ms;
    -o-transition: background-color ease-out 500ms;
    transition: background-color ease-out 500ms;
}

#container{
	background: @darkgrey;
	section{
		.bgRadialGradient(@darkmediumgrey,@darkgrey);
		a.opener{
			text-transform: uppercase;
			font-family: 'Avant-Garde';
			display: block;
			cursor: pointer;
			text-align: center;
			background: @darkgrey;
			color:red;
			text-decoration: none;
			&:hover{
				background: red;
				color:@white;
				.bgColorTransition;
			}
			.wording{
				font-size: 20px;
			}
		}
		.content{
			display: none;
			h2{
				color:@white;
				text-transform: uppercase;
			}
		}
		&.active{
			a.opener{
				background: red;
				color:@darkgrey;
				cursor:default;
			}
			.content{
				margin:0 5%;
				display:block;
				width: 100%;
			}
		}
	}
	&.landscape{
		section{
			display: flex;
			float: left;
			align-items: center;
			a.opener{
				display: block;
				float: left;
				width: 50px;
				.wording{
					display: block;
					position: relative;
					top: 50%;
					width: 250px;
					.transform(-90deg,0,-99px);
				}
			}
		}
	}

	&.portrait{
		section{
			&.active{
				height: 420px;
				overflow: hidden;
				.content{
					width: auto;
					height: 400px;
					overflow: auto;
					margin: 0;
				}
			}
			a.opener{
				height: 40px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}
